page-game-menu {
    .vertical-align-content > * {
        display: flex !important;
        align-content: center !important;
        align-items: center !important;
    }

    .language-ru {
        background-image: url('../assets/img/language_ru.png');
        background-size: cover;
        background-color: transparent;
    }

    .language-en {
        background-image: url('../assets/img/language_en.png');
        background-size: cover;
        background-color: transparent;
    }

    .center-text {
        text-align: center;
    }
    /*ion-content {
        background-image: url('../assets/img/background.png');
        background-size: cover;
    }*/
}
