page-game-menu {
    .vertical-align-content > * {
        display: flex !important;
        align-content: center !important;
        align-items: center !important;
    }

    ion-content {
        background-image: url('../assets/img/background.png');
        background-size: cover;
    }
}
