<ion-header>
    <ion-navbar>
        <ion-title>Teams</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item *ngFor="let team of selectedTeams; let i = index">
            <div>{{team}}</div>
            <ion-icon name="close" item-right (click)="deleteTeam(i)" *ngIf="selectedTeams.length > 2"></ion-icon>
        </ion-item>
        <button ion-button full (click)="addTeam()" [disabled]="selectedTeams.length > 5">Add Team</button>
    </ion-list>
</ion-content>


<ion-footer padding>
    <button ion-button full (click)="goToDictionaries()">Continue</button>
</ion-footer>