page-game-results {
    .heading {
        text-align: center;
    }

    .padded {
        margin-left: 5px;
    }

    .vertical-align-content > * {
        display: flex !important;
        align-content: center !important;
        align-items: center !important;
    }
}
