<ion-header padding>
    <ion-title>{{gameService.getActivePlayer().name}} ({{totalScore}})</ion-title>
</ion-header>
<ion-content padding class="vertical-align-content">
    <ion-grid>
        <ion-row>
            <ion-col>
                <div class="border-box">
                    <ion-list class="word-box">
                        <ion-item *ngFor="let word of currentScreenWords" [color]="word.checked ? 'light' : ''" full (touchstart)="$event.stopPropagation();itemChecked(word);">
                            <h2 class="word">
                                <ion-icon class="check-mark" name="checkmark-circle" icon-large icon-left [style.visibility]="word.checked ? 'visible' : 'hidden'"></ion-icon> {{word.word | uppercase}}
                            </h2>
                        </ion-item>
                    </ion-list>
                </div>
                <p></p>
                <div class="discard">
                    <button ion-button round color="danger" outline icon-left (click)="discard()">
                        <ion-icon name="remove-circle"></ion-icon>
                        {{ 'discard' | translate }} (-{{skipLastWord ? wordsPerPage - currentScreenScore - 1 : wordsPerPage - currentScreenScore}} {{ 'penalty' | translate }})
                    </button>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<ion-footer padding>
    <button ion-button round full (click)="handleBackButton()" *ngIf="platform.is('core')">{{ 'back' | translate }}</button>

    <div style="width: 100%; text-align: center">
        <ion-chip>
            <ion-icon name="time" color="primary" large></ion-icon>
            <ion-label style="font-size: 2em">{{timeLeft}}</ion-label>
        </ion-chip>
    </div>
</ion-footer>

