<ion-header padding>
    <h3>Game is in progress...</h3>
    <p>Time Remaining: {{ timeLeft }}</p>
    <p>Currently guessed: {{ totalWordsCheckedCount }}</p>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row *ngFor="let word of words">
            <ion-col text-center>
                <button ion-button [color]="word.checked ? 'dark' : 'light'" full (click)="itemChecked(word)">{{word.word}}</button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-footer padding>
    <button ion-button full (click)="handleBackButton()" *ngIf="platform.is('core')">Back</button>
</ion-footer>


