game-page {
    ion-badge {
        font-size: 3rem;
        margin-bottom: 10px;
        margin-top: 10px;
        width: 30px;
    }

    ion-item {
        padding-left: 0px !important;
    }

    .word {
        text-align: center;
        font-weight: bold;
        margin-top: 0px !important;
    }

    .discard {
        text-align: center;
    }

    .vertical-align-content > *
    {
         display: flex!important;
         align-content: center!important;
         align-items: center!important;
    }

    .border-box {
        border-style: solid;
        border-color: #f0f0f0;
        border-width: 1px;
    }

    .word-box {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .check-mark {
        color: #387ef5;
    }
}
