<ion-header padding>
    <ion-title>{{gameService.getActivePlayer().name}} ({{totalWordsCheckedCount}})</ion-title>
</ion-header>
<ion-content padding>
    <ion-grid>
        <ion-row *ngFor="let word of words">
            <ion-col text-center>
                <button ion-button [color]="word.checked ? 'dark' : 'light'" full (click)="itemChecked(word)">{{word.word}}</button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<ion-footer padding>
    <button ion-button full (click)="handleBackButton()" *ngIf="platform.is('core')">Back</button>
    
    <div style="width: 100%; text-align: center">
        <ion-chip>
            <ion-icon name="time" color="primary" large></ion-icon>
            <ion-label style="font-size: 2em">{{timeLeft}}</ion-label>
        </ion-chip>
    </div>
</ion-footer>

