<ion-header>
    <ion-navbar>
        <ion-title>
            {{ 'review_round_score' | translate }}
            <p class="subtitle">
                {{gameService.getActivePlayer().name}} ({{totalScore}})
            </p>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list *ngIf="roundState != null" insetinset>
        <ion-item *ngFor="let w of roundState.words">
            {{w.word | uppercase}}
            <ion-icon name="thumbs-up" item-right [color]="w.checked ? 'primary' : 'grey'" (click)="setChecked(w)"></ion-icon>
            <ion-icon name="close" item-right [color]="!w.dismissed && !w.checked ? 'primary' : 'grey'" (click)="setNeutral(w)"></ion-icon>
            <ion-icon name="thumbs-down" item-right [color]="w.dismissed ? 'primary' : 'grey'" (click)="setDismissed(w)"></ion-icon>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer padding>
    <button ion-button full (click)="proceed()">{{ 'continue_game' | translate }} ({{totalScore}})</button>
</ion-footer>