<ion-header>
  <ion-navbar>
    <ion-title>{{ 'rules' | translate }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <div *ngIf="localizationService.getLanguage() == 'ru'">
        <ion-list>
            <ion-item text-wrap>
                <h2 class="center-text">
                    <b>Alias</b> — игра, где нужно объяснять напарникам загаданные слова.
                </h2>
            </ion-item>
            <ion-item text-wrap>
                <ion-icon name="people" icon-large item-left></ion-icon>
                <p>Игроки делятся на команды, в которых участники по очереди выступают в роли объясняющего, остальные — стараются отгадать требуемое слово.</p>
            </ion-item>
            <ion-item text-wrap>
                <ion-icon name="clock" icon-large item-left></ion-icon>
                <p>Игра ведется на время. Задача команды отгадать как можно больше слов за этот временной период.</p>
            </ion-item>
            <ion-item text-wrap>
                <ion-icon name="book" icon-large item-left></ion-icon>
                <p>Слова показываются группами по несколько слов. За каждое угаданное слово команда получает 1 балл, за каждый пропуск или штраф – минус 1 балл.</p>
            </ion-item>
            <ion-item text-wrap>
                <ion-icon name="close-circle" icon-large item-left></ion-icon>
                <p>Запрещено: использование однокоренных слов, прямых переводов и жестов. Нарушители получают штрафы.</p>
            </ion-item>
            <ion-item text-wrap class="center-text">
                <h2>
                    <b>Приятной игры!</b>
                </h2>
            </ion-item>
        </ion-list>
    </div>
    <div *ngIf="localizationService.getLanguage() == 'en'">
        <ion-list>
            <ion-item text-wrap>
                <h2 class="center-text">
                    <b>Alias</b> is a party game where the objective of the players is to explain words to each other.
                </h2>
            </ion-item>
            <ion-item text-wrap>
                <ion-icon name="people" icon-large item-left></ion-icon>
                <p>The participants are divided into teams. The teams play in turns, and on each team's turn, one of the team members has to explain words to the other team members. </p>
            </ion-item>
            <ion-item text-wrap>
                <ion-icon name="clock" icon-large item-left></ion-icon>
                <p>The turns are timed. The objective is to correctly guess as many words as possible.</p>
            </ion-item>
            <ion-item text-wrap>
                <ion-icon name="book" icon-large item-left></ion-icon>
                <p>The words that have been correctly guessed earn the team one point per word. Explanation mistakes and skipped words take points away.</p>
            </ion-item>
            <ion-item text-wrap>
                <ion-icon name="close-circle" icon-large item-left></ion-icon>
                <p>It is not allowed to use cognate words, direct translations and gestures. Violators receive penalties.</p>
            </ion-item>
            <ion-item text-wrap class="center-text">
                <h2>
                    <b>Enjoy the game!</b>
                </h2>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
