<ion-header>
    <ion-navbar>
        <ion-title *ngIf="gameStatus == GameStatus.InProgress">{{ 'current_scores' | translate }}</ion-title>
        <ion-title *ngIf="gameStatus != GameStatus.InProgress">{{ 'game_results' | translate }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="vertical-align-content">
    <ion-grid>
        <ion-row>
            <ion-col style="text-align: center">
                <ion-list inset>
                    <h1 class="heading" *ngIf="gameStatus == GameStatus.Tie">{{ 'tie' | translate }}</h1>
                    <h1 class="heading" *ngIf="gameStatus == GameStatus.Victory">{{ 'victory' | translate:{winner: sortedPlayerScores[0].player.name} }}</h1>
                    <h1 class="heading" *ngIf="gameStatus == GameStatus.InProgress">{{ 'round_start' | translate:{round_number: roundNumber} }}</h1>
                    <ion-item *ngFor="let playerScore of playerScores">
                        <ion-icon name="people" icon-large></ion-icon>
                        <span class="padded" [style.fontWeight]="gameStatus == GameStatus.InProgress && playerScore.player == activePlayer ? 'bold' : 'normal'">{{playerScore.player.name}}</span>
                        <span item-right>{{playerScore.currentScore}}({{playerScore.currentRoundScore}})</span>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-footer padding>
    <button ion-button round full (click)="startRound()" *ngIf="gameStatus == GameStatus.InProgress">{{ 'start_player' | translate:{activePlayerName: activePlayer.name} }}</button>
    <button ion-button round full (click)="finishGame()" *ngIf="gameStatus != GameStatus.InProgress">{{ 'finish_game' | translate }}</button>
</ion-footer>